# Basic data types

In [ ]:
df.head()
df.tail()
temp.dtypes
pd.to_datetime("")

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [5]:
#list, Dictionary, tuple

mylist=[20,30,40,50,60,70]
mylist[3]

50

In [ ]:
mylist[3:]

[50, 60, 70]

In [ ]:
dict={"raghu":"trainer", "You":"Participant", "3":"My Numner"}
dict["raghu"] # in anaconda they dont place "" to print the value. note the key is raghu and the value is trainer
print (dict.keys())
print (dict.values())

'trainer'

dict_keys(['raghu', 'You', '3'])
dict_values(['trainer', 'Participant', 'My Numner'])

In [13]:
my_dict = {"raghu": "trainer", "You": "Participant", "key": "value"}

In [8]:
x = [1,"b",3]
print (x[1])

b

In [ ]:
student_dict = {"s_1":["IBM","TCS"],"s_2" :["HP"], "s_3":["INFOSYS","WIPRO","google"]}
print (student_dict["s_1"])
print (student_dict["s_3"])
print (student_dict["s_3"][2])

['IBM', 'TCS']
['INFOSYS', 'WIPRO', 'google']
google

In [ ]:
[val for k,val in student_dict.items()]

[['IBM', 'TCS'], ['HP'], ['INFOSYS', 'WIPRO', 'google']]

In [ ]:
tup_ex= (1,2,3,1)
mylist=[1,2,3,4,5]
mylist.append(7)
print (mylist)

[1, 2, 3, 4, 5, 7]

In [ ]:
x = ["abe",1,"c"]
print (x[2])

c

In [14]:
dist_ex = {"S1":["HCL","TCS"],"S2":["Benz"]}
for k,v in dist_ex.items():
    if k == "S1":
        print(k)

S1

In [15]:
x.append("y")
x

[1, 'b', 3, 'y']

In [ ]:
tup_ex = (1,2,3,1)

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
list_ex = [1,2,3]
dist_ex = {"Age":25,"Weight":70}

tup_ex = (1,2,3,1)

In [ ]:
# how to read the data if using anaconda
import pandas as pd
#import numpy as np
df = pd.read_csv("Uber Drives 2016.csv")

In [ ]:
# how to read the data if using google collab
from google.colab import files
uploaded = files.upload()

Saving Uber Drives 2016.csv to Uber Drives 2016.csv

In [ ]:
#read the data
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['Uber Drives 2016.csv']))
print(df)

NameError: ignored

In [ ]:
df.dtypes
#if it is object the it is string

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

#note there is no such thing is as column. They call it series.

So, Data Frame is a collection of Series.

In [ ]:
df.head(n=25)

        START_DATE*        END_DATE*  ... MILES*         PURPOSE*
0    1/1/2016 21:11   1/1/2016 21:17  ...    5.1   Meal/Entertain
1     1/2/2016 1:25    1/2/2016 1:37  ...    5.0              NaN
2    1/2/2016 20:25   1/2/2016 20:38  ...    4.8  Errand/Supplies
3    1/5/2016 17:31   1/5/2016 17:45  ...    4.7          Meeting
4    1/6/2016 14:42   1/6/2016 15:49  ...   63.7   Customer Visit
5    1/6/2016 17:15   1/6/2016 17:19  ...    4.3   Meal/Entertain
6    1/6/2016 17:30   1/6/2016 17:35  ...    7.1          Meeting
7    1/7/2016 13:27   1/7/2016 13:33  ...    0.8          Meeting
8    1/10/2016 8:05   1/10/2016 8:25  ...    8.3          Meeting
9   1/10/2016 12:17  1/10/2016 12:44  ...   16.5   Customer Visit
10  1/10/2016 15:08  1/10/2016 15:51  ...   10.8          Meeting
11  1/10/2016 18:18  1/10/2016 18:53  ...    7.5          Meeting
12  1/10/2016 19:12  1/10/2016 19:32  ...    6.2          Meeting
13   1/11/2016 8:55   1/11/2016 9:21  ...    6.4   Temporary Site
14  1/11/2016 11:56  1/11/2016 12:03  ...    1.6  Errand/Supplies
15  1/11/2016 13:32  1/11/2016 13:46  ...    1.7   Meal/Entertain
16  1/11/2016 14:30  1/11/2016 14:43  ...    1.9   Meal/Entertain
17  1/12/2016 12:33  1/12/2016 12:49  ...    1.9   Meal/Entertain
18  1/12/2016 12:53  1/12/2016 13:09  ...    4.0   Meal/Entertain
19  1/12/2016 14:42  1/12/2016 14:56  ...    1.8  Errand/Supplies
20  1/12/2016 15:13  1/12/2016 15:28  ...    2.4   Customer Visit
21  1/12/2016 15:42  1/12/2016 15:54  ...    2.0  Errand/Supplies
22  1/12/2016 16:02  1/12/2016 17:00  ...   15.1          Meeting
23  1/13/2016 13:54  1/13/2016 14:07  ...   11.2          Meeting
24  1/13/2016 15:00  1/13/2016 15:28  ...   11.8          Meeting

[25 rows x 7 columns]

# Key Modules

1. Basic Dataframe operations
2. Common data manipulation tasks
3. Loops and Functions

## Basic dataframe operations

In [ ]:
df.head()

      START_DATE*       END_DATE*  ... MILES*         PURPOSE*
0  1/1/2016 21:11  1/1/2016 21:17  ...    5.1   Meal/Entertain
1   1/2/2016 1:25   1/2/2016 1:37  ...    5.0              NaN
2  1/2/2016 20:25  1/2/2016 20:38  ...    4.8  Errand/Supplies
3  1/5/2016 17:31  1/5/2016 17:45  ...    4.7          Meeting
4  1/6/2016 14:42  1/6/2016 15:49  ...   63.7   Customer Visit

[5 rows x 7 columns]

In [ ]:
df.shape

(1156, 7)

In [ ]:
hasattr(df,"head")
callable(getattr(df,"head"))

True

True

In [ ]:
df.tail()
#NAN means  "not any number"

           START_DATE*         END_DATE*  ...   MILES*        PURPOSE*
1151  12/31/2016 13:24  12/31/2016 13:42  ...      3.9  Temporary Site
1152  12/31/2016 15:03  12/31/2016 15:38  ...     16.2         Meeting
1153  12/31/2016 21:32  12/31/2016 21:50  ...      6.4  Temporary Site
1154  12/31/2016 22:08  12/31/2016 23:51  ...     48.2  Temporary Site
1155            Totals               NaN  ...  12204.7             NaN

[5 rows x 7 columns]

In [ ]:
df.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

### Changing data types

In [ ]:
temp = pd.DataFrame({"A":["1","2","3"],
                     "B":[11,12,13],
                     "C": ["12-06-2012","13-06-2015","15-06-2017"]})

In [ ]:
temp.dtypes

A    object
B     int64
C    object
dtype: object

In [ ]:
temp["C"] = pd.to_datetime(temp["C"])
temp["A"] = pd.to_numeric(temp["A"])

In [ ]:
temp.dtypes

A             int64
B             int64
C    datetime64[ns]
dtype: object

In [ ]:
temp["A"] = temp["A"].astype(str)

In [ ]:
temp.dtypes

A            object
B             int64
C    datetime64[ns]
dtype: object

In [ ]:

pd.to_datetime("09-12-2012")

Timestamp('2012-09-12 00:00:00')

In [ ]:
#adding errors code for converting any data that it can only convert
pd.to_datetime(["12-sept-2012","abc"], errors="coerce")

DatetimeIndex(['2012-09-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [ ]:

pd.to_datetime (df["START_DATE*"],format='%m/%d/%Y %H:%M')
# Available time formats:
https://docs.python.org/3/library/datetime.html #strftime-and-strptime-behavior

https://colab.research.google.com/github/astg606/py_materials/blob/master/useful_modules/introduction_datetime.ipynb#scrollTo=Me1F7B3s4uki

### Dataset summarization methods

In [ ]:
df.describe(include="all")

       START_DATE* END_DATE* CATEGORY* START* STOP*  MILES* PURPOSE* miles_cat
count            0         0         0      0     0     0.0        0         0
unique           0         0         0      0     0     NaN        0         0
top            NaN       NaN       NaN    NaN   NaN     NaN      NaN       NaN
freq           NaN       NaN       NaN    NaN   NaN     NaN      NaN       NaN
mean           NaN       NaN       NaN    NaN   NaN     NaN      NaN       NaN
std            NaN       NaN       NaN    NaN   NaN     NaN      NaN       NaN
min            NaN       NaN       NaN    NaN   NaN     NaN      NaN       NaN
25%            NaN       NaN       NaN    NaN   NaN     NaN      NaN       NaN
50%            NaN       NaN       NaN    NaN   NaN     NaN      NaN       NaN
75%            NaN       NaN       NaN    NaN   NaN     NaN      NaN       NaN
max            NaN       NaN       NaN    NaN   NaN     NaN      NaN       NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

In [ ]:
# count of unique start locations
df["START*"].value_counts().head()

Cary                201
Unknown Location    148
Morrisville          85
Whitebridge          68
Islamabad            57
Name: START*, dtype: int64

In [ ]:
# count of unique start locations
df["START*"].value_counts()

Cary                   201
Unknown Location       148
Morrisville             85
Whitebridge             68
Islamabad               57
                      ...
Mcvan                    1
Chalmette                1
Pontchartrain Beach      1
Redmond                  1
Nugegoda                 1
Name: START*, Length: 177, dtype: int64

## Common data manipulation tasks

5 verbs of data manipulation

1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/ Conditionally adding columns
5. Groupby/Summarize

### Select/Indexing

In [ ]:
df.iloc[0:4]

      START_DATE*       END_DATE*  ... MILES*         PURPOSE*
0  1/1/2016 21:11  1/1/2016 21:17  ...    5.1   Meal/Entertain
1   1/2/2016 1:25   1/2/2016 1:37  ...    5.0              NaN
2  1/2/2016 20:25  1/2/2016 20:38  ...    4.8  Errand/Supplies
3  1/5/2016 17:31  1/5/2016 17:45  ...    4.7          Meeting

[4 rows x 7 columns]

In [ ]:
df.iloc[0:4,[0,5]]

      START_DATE*  MILES*
0  1/1/2016 21:11     5.1
1   1/2/2016 1:25     5.0
2  1/2/2016 20:25     4.8
3  1/5/2016 17:31     4.7

In [ ]:
## Positional Indexing
df.iloc[0:5,0:4]

      START_DATE*       END_DATE* CATEGORY*       START*
0  1/1/2016 21:11  1/1/2016 21:17  Business  Fort Pierce
1   1/2/2016 1:25   1/2/2016 1:37  Business  Fort Pierce
2  1/2/2016 20:25  1/2/2016 20:38  Business  Fort Pierce
3  1/5/2016 17:31  1/5/2016 17:45  Business  Fort Pierce
4  1/6/2016 14:42  1/6/2016 15:49  Business  Fort Pierce

In [ ]:
df.iloc[0:4,0:3]

      START_DATE*       END_DATE* CATEGORY*
0  1/1/2016 21:11  1/1/2016 21:17  Business
1   1/2/2016 1:25   1/2/2016 1:37  Business
2  1/2/2016 20:25  1/2/2016 20:38  Business
3  1/5/2016 17:31  1/5/2016 17:45  Business

In [ ]:
df.iloc[:,0:3]

           START_DATE*         END_DATE* CATEGORY*
0       1/1/2016 21:11    1/1/2016 21:17  Business
1        1/2/2016 1:25     1/2/2016 1:37  Business
2       1/2/2016 20:25    1/2/2016 20:38  Business
3       1/5/2016 17:31    1/5/2016 17:45  Business
4       1/6/2016 14:42    1/6/2016 15:49  Business
...                ...               ...       ...
1151  12/31/2016 13:24  12/31/2016 13:42  Business
1152  12/31/2016 15:03  12/31/2016 15:38  Business
1153  12/31/2016 21:32  12/31/2016 21:50  Business
1154  12/31/2016 22:08  12/31/2016 23:51  Business
1155            Totals               NaN       NaN

[1156 rows x 3 columns]

In [ ]:
raghu=df.iloc[:,:-1]
print(df.shape)
raghu.shape

(1156, 7)

(1156, 6)

In [ ]:
# label based indexing
df.loc[0:2,["START_DATE*","CATEGORY*"]].head()

      START_DATE* CATEGORY*
0  1/1/2016 21:11  Business
1   1/2/2016 1:25  Business
2  1/2/2016 20:25  Business

In [ ]:
# label based indexing
df.loc[:,["START_DATE*","CATEGORY*","MILES*","PURPOSE*"]].head()

      START_DATE* CATEGORY*  MILES*         PURPOSE*
0  1/1/2016 21:11  Business     5.1   Meal/Entertain
1   1/2/2016 1:25  Business     5.0              NaN
2  1/2/2016 20:25  Business     4.8  Errand/Supplies
3  1/5/2016 17:31  Business     4.7          Meeting
4  1/6/2016 14:42  Business    63.7   Customer Visit

In [ ]:
#If the output is series and wanted to make it as as dataframe
df.loc[:,["START_DATE*","CATEGORY*","MILES*","PURPOSE*"]]
abc=df.loc[:,"START*"]
print (type (abc))

<class 'pandas.core.series.Series'>

In [ ]:
#If the output is series and wanted to make it as as dataframe
df.loc[0:4,["START_DATE*","CATEGORY*","MILES*","PURPOSE*"]] # place 0:4 to state the number of rows to be showed only
abc=df.loc[:,["START*"]]  #you use the square bracket to pass it as a list to make it as a dataframe .
#you can use () if there is two columns and it will become automatically a datafrrame
#example
# abc=df.loc[:,["START*","STOP*"]]
print (type (abc))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#If the output is series and wanted to make it as as dataframe
df.loc[0:4,["START_DATE*","CATEGORY*","MILES*","PURPOSE*"]]  # place 0:4 to state the number of rows to be showed only
#  #you use the square bracket to pass it as a list to make it as a dataframe .
#you can use () if there is two columns and it will become automatically a datafrrame
#example
abc=df.loc[:,("START*","STOP*")]
print (type (abc))

      START_DATE* CATEGORY*  MILES*         PURPOSE*
0  1/1/2016 21:11  Business     5.1   Meal/Entertain
1   1/2/2016 1:25  Business     5.0              NaN
2  1/2/2016 20:25  Business     4.8  Errand/Supplies
3  1/5/2016 17:31  Business     4.7          Meeting
4  1/6/2016 14:42  Business    63.7   Customer Visit

<class 'pandas.core.frame.DataFrame'>

### In Class assignment

Extract first 5 rows and columns START_DATE* and MILES*

In [ ]:
df.loc[0:4,["START_DATE*","MILES*"]]

      START_DATE*  MILES*
0  1/1/2016 21:11     5.1
1   1/2/2016 1:25     5.0
2  1/2/2016 20:25     4.8
3  1/5/2016 17:31     4.7
4  1/6/2016 14:42    63.7

### Filtering

In [ ]:
df2 = df.loc[df["MILES*"] > 10,["START_DATE*","MILES*"]]
print (df2)

           START_DATE*   MILES*
4       1/6/2016 14:42     63.7
9      1/10/2016 12:17     16.5
10     1/10/2016 15:08     10.8
22     1/12/2016 16:02     15.1
23     1/13/2016 13:54     11.2
...                ...      ...
1134  12/29/2016 11:28     11.9
1144  12/29/2016 23:14     12.9
1152  12/31/2016 15:03     16.2
1154  12/31/2016 22:08     48.2
1155            Totals  12204.7

[316 rows x 2 columns]

In [ ]:
df3 = df2.loc[0:3]

In [ ]:
# find out all rides greater than 10 miles
df.loc[df["MILES*"] > 10].head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8,Meeting
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1,Meeting
23,1/13/2016 13:54,1/13/2016 14:07,Business,Downtown,Gulfton,11.2,Meeting

In [ ]:
# Find out all rides from Cary
df.loc[df["START*"]=="Cary",["START*","MILES*"]].head()

   START*  MILES*
7    Cary     0.8
8    Cary     8.3
28   Cary    10.4
30   Cary     4.8
34   Cary    17.1

In [ ]:
# Find out all rides from Cary & Morrisville
df[df["START*"].isin(["Cary","Morrisville"])].shape # ISIN MEANS you want to match multiple locactions or mulitple conditions

(286, 7)

In [ ]:
# Find out all rides from Cary & Morrisville
df[df["START*"].isin(["Cary","Morrisville"])].head() # ISIN MEANS you want to match multiple locactions or mulitple conditions

        START_DATE*        END_DATE*  ... MILES*         PURPOSE*
7    1/7/2016 13:27   1/7/2016 13:33  ...    0.8          Meeting
8    1/10/2016 8:05   1/10/2016 8:25  ...    8.3          Meeting
27   1/15/2016 0:41   1/15/2016 1:01  ...    8.0  Errand/Supplies
28  1/15/2016 11:43  1/15/2016 12:03  ...   10.4   Meal/Entertain
30  1/18/2016 14:55  1/18/2016 15:06  ...    4.8   Meal/Entertain

[5 rows x 7 columns]

#### In class assignment

1. Find all trips with distance > 10 miles and originating from Cary and Morris.

2. Extract top 3 rows from the filtered dataset

In [ ]:
df5=df.loc[(df["MILES*"] > 10)& (df["START*"].isin(["Cary","New York"]))]
df5.head(n=20)

         START_DATE*        END_DATE*  ... MILES*         PURPOSE*
10   1/10/2016 15:08  1/10/2016 15:51  ...   10.8          Meeting
22   1/12/2016 16:02  1/12/2016 17:00  ...   15.1          Meeting
28   1/15/2016 11:43  1/15/2016 12:03  ...   10.4   Meal/Entertain
34   1/20/2016 10:36  1/20/2016 11:11  ...   17.1          Meeting
46   1/27/2016 10:19  1/27/2016 10:48  ...   18.7   Customer Visit
50   1/28/2016 12:28  1/28/2016 13:00  ...   19.0   Temporary Site
55   1/29/2016 11:43  1/29/2016 12:03  ...   10.4          Meeting
61    2/1/2016 10:35   2/1/2016 11:15  ...   19.4   Customer Visit
74    2/5/2016 11:47   2/5/2016 12:07  ...   10.4          Meeting
76    2/6/2016 16:20   2/6/2016 16:53  ...   11.4  Between Offices
91   2/11/2016 16:28  2/11/2016 17:10  ...   17.3   Meal/Entertain
106  2/14/2016 16:35  2/14/2016 17:02  ...   13.0          Meeting
164  2/26/2016 11:35  2/26/2016 11:59  ...   10.6          Meeting
185   3/4/2016 11:46   3/4/2016 12:06  ...   10.4          Meeting
187   3/4/2016 13:40   3/4/2016 14:09  ...   15.7   Customer Visit
200    3/7/2016 9:23    3/7/2016 9:47  ...   12.4   Customer Visit
268  3/25/2016 13:24  3/25/2016 16:22  ...  144.0   Customer Visit
304   4/8/2016 12:30   4/8/2016 12:48  ...   10.5          Meeting
307   4/8/2016 14:43   4/8/2016 15:20  ...   19.1          Meeting
314   4/14/2016 7:29   4/14/2016 8:09  ...   15.3   Temporary Site

[20 rows x 7 columns]

In [ ]:
#reseting the index
df5=df.loc[(df["MILES*"] > 10)& (df["START*"].isin(["Cary","New York"]))]
df5.head(n=20)

df5.reset_index(inplace=True,drop=True)
df5

         START_DATE*         END_DATE*  ... MILES*        PURPOSE*
0    1/10/2016 15:08   1/10/2016 15:51  ...   10.8         Meeting
1    1/12/2016 16:02   1/12/2016 17:00  ...   15.1         Meeting
2    1/15/2016 11:43   1/15/2016 12:03  ...   10.4  Meal/Entertain
3    1/20/2016 10:36   1/20/2016 11:11  ...   17.1         Meeting
4    1/27/2016 10:19   1/27/2016 10:48  ...   18.7  Customer Visit
..               ...               ...  ...    ...             ...
57  11/22/2016 15:51  11/22/2016 16:43  ...   12.7  Customer Visit
58  11/25/2016 11:47  11/25/2016 12:04  ...   10.3         Meeting
59   12/9/2016 22:03   12/9/2016 22:57  ...   18.9  Customer Visit
60  12/10/2016 12:43  12/10/2016 13:16  ...   15.6         Meeting
61  12/15/2016 14:20  12/15/2016 14:54  ...   10.6         Meeting

[62 rows x 7 columns]

### Sorting

In [ ]:
df.sort_values(by=["MILES*"],ascending=False).head(5)
#it will sort the miles in the descending instead of ascending
#you cant change the word ascending with descending because it will become error. The only way to do it is make it false

           START_DATE*         END_DATE*  ...   MILES*        PURPOSE*
1155            Totals               NaN  ...  12204.7             NaN
269    3/25/2016 16:52   3/25/2016 22:22  ...    310.3  Customer Visit
270    3/25/2016 22:54    3/26/2016 1:39  ...    201.0         Meeting
881   10/30/2016 15:22  10/30/2016 18:23  ...    195.9             NaN
776    9/27/2016 21:01    9/28/2016 2:37  ...    195.6             NaN

[5 rows x 7 columns]

In [ ]:
df.sort_values(by=["START*", "MILES*"],ascending=[True,False]).head(5)
#first it will sort the start in ascending and miles in the decscending order

          START_DATE*         END_DATE* CATEGORY*  ...        STOP* MILES*  PURPOSE*
906   11/4/2016 21:04   11/4/2016 21:20  Business  ...         Cory    4.3       NaN
911   11/6/2016 10:50   11/6/2016 11:04  Business  ...  Renaissance    2.4       NaN
908    11/5/2016 8:34    11/5/2016 8:43  Business  ...  Renaissance    2.2       NaN
910   11/5/2016 19:20   11/5/2016 19:28  Business  ...        Agnew    2.2       NaN
879  10/30/2016 12:58  10/30/2016 13:18  Business  ...  Bryson City   15.2       NaN

[5 rows x 7 columns]

### Conditionally adding columns

In [ ]:
import numpy as np
df["miles_cat"] = np.where(df["MILES*"] > 5,"Long Trip","Short Trip")
df.head()

NameError: ignored

In [ ]:
df["miles_cat"].value_counts()

Long Trip     654
Short Trip    502
Name: miles_cat, dtype: int64

In [ ]:
df.loc[df["MILES*"] > 5].shape

(654, 8)

## In class Assignment

Create a new column with the following condition:

a) > 10 - Long Trip

b) 5 - 10  - Medium

c) < 5 - Short Trip

### Groupby Summarize

**This is the normal way to write it**

groupby("column1")["column2"].agg("mean")

\
**this is how you write it for multiple columns and multiple conditions **

groupby("column1").agg({"column2", "column3") start.mean

In [ ]:
# for each start loc find the mean distance travelled
df.groupby("START*").mean()

                     MILES*
START*
Agnew              2.775000
Almond            15.200000
Apex               5.341176
Arabi             17.000000
Arlington          4.900000
...                     ...
West University    2.200000
Weston             4.000000
Westpark Place     2.182353
Whitebridge        4.020588
Winston Salem    133.600000

[177 rows x 1 columns]

In [ ]:
# same result as the one in the top
#df.groupby("START*")["MILES*"].agg("mean").head() # this is a common format
df.groupby("START*")["MILES*"].mean()

START*
Agnew                2.775000
Almond              15.200000
Apex                 5.341176
Arabi               17.000000
Arlington            4.900000
                      ...
West University      2.200000
Weston               4.000000
Westpark Place       2.182353
Whitebridge          4.020588
Winston Salem      133.600000
Name: MILES*, Length: 177, dtype: float64

In [ ]:
# for each start loc find the mean & the total dist travelled
df.groupby("START*").agg(["mean","sum"]).head() # passing the columns in the list

Empty DataFrame
Columns: [(MILES*, mean), (MILES*, sum)]
Index: []

In [ ]:
df=df.loc[:-1,:]
df.head()
df["START_DATE*"]=pd.to_datetime(df["START*"])
df.dtypes

START_DATE*    datetime64[ns]
END_DATE*              object
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
miles_cat              object
dtype: object

In [ ]:
df.groupby(["START*","STOP*"]).agg(["mean","sum"]).head(n=10)

Empty DataFrame
Columns: [(MILES*, mean), (MILES*, sum)]
Index: []

In [ ]:
res=df.groupby("START*").agg({"MILES*":["MEAN"], "START_DATE*":["MEAN ","MAX"]})
res.head(n=10)
res.reset_index(inplace=True)
res
res.column=["START_CITY","AVG_DIST","EARLIEST_TRP","LATEST_TRIP"]

AttributeError: ignored

### In class assignment

Find most recent & the earliest travelled date (Or first and last trip) and mean distance traveled for each start city

## Loops and Function

In [ ]:
# Basic for loop
res = []
temp = [1,2,3,4]
for i in temp:
    res.append(i*i)
res

[1, 4, 9, 16]

In [ ]:
# List comprehension way

[x*x for x in temp]

In [ ]:

store_sales = pd.read_csv("store_sales.csv")

NameError: ignored

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving store_sales (1).csv to store_sales (1).csv

In [ ]:
import pandas as pd
import io
store_sales=pd.read_csv(io.BytesIO(uploaded['store_sales (1).csv']))
print(store_sales)

   store_id        city  Jan  Feb  Mar  Apr  ...  July  Aug  Sep  Oct  Nov  Dec
0       S_1       Texas    8   20   13   21  ...    24   17   16    9    7    6
1       S_2  California   12   19   15   15  ...     7   15   10   11   21   19
2       S_3  California   16   16   14   19  ...    13   13   15   14   24    8
3       S_4       Texas    8   18   13   10  ...     6    8    8   18    7   11
4       S_5       Texas   19    5   24    9  ...    10    5   24   15    6   13
..      ...         ...  ...  ...  ...  ...  ...   ...  ...  ...  ...  ...  ...
95     S_96       Texas    7   10   20   20  ...    15   21   15    7   23   22
96     S_97  California   13    6    7   15  ...    21   23   10    6   12    9
97     S_98       Texas   16    9    6   14  ...    11   10    8   22   17   22
98     S_99     Arizona   18   16    9    5  ...    11   13   21   17   19   10
99    S_100  California    5   23   17   24  ...    19   10   12   20    5    9

[100 rows x 14 columns]

In [ ]:
store_sales.head()

  store_id        city  Jan  Feb  Mar  Apr  ...  July  Aug  Sep  Oct  Nov  Dec
0      S_1       Texas    8   20   13   21  ...    24   17   16    9    7    6
1      S_2  California   12   19   15   15  ...     7   15   10   11   21   19
2      S_3  California   16   16   14   19  ...    13   13   15   14   24    8
3      S_4       Texas    8   18   13   10  ...     6    8    8   18    7   11
4      S_5       Texas   19    5   24    9  ...    10    5   24   15    6   13

[5 rows x 14 columns]

In [ ]:
# find out avg sales for each month
# find out avg sales for each store

In [ ]:
def bonus_func(sales_numbers):
    return ["Eligible" if x > 15 else "Not Eligible" for x in sales_numbers]

In [ ]:
bonus_func([12,23,56])

['Not Eligible', 'Eligible', 'Eligible']

In [ ]:
store_sales.iloc[:,2:].apply(bonus_func).head()

,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,Not Eligible,Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Eligible,Eligible,Eligible,Not Eligible,Eligible
1,Not Eligible,Eligible,Eligible,Not Eligible,Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Eligible
2,Eligible,Eligible,Eligible,Eligible,Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible
3,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Eligible,Not Eligible,Not Eligible,Eligible,Eligible,Eligible,Eligible,Not Eligible
4,Not Eligible,Not Eligible,Not Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible,Eligible,Not Eligible,Eligible,Eligible,Eligible

In [ ]:
store_sales.iloc[:,2:].apply(lambda sales_numbers: ["Eligible" if x > 15 else "Not Eligible" for x in sales_numbers]).head()

,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,Not Eligible,Eligible,Not Eligible,Eligible,Eligible,Eligible,Eligible,Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible
1,Not Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Eligible,Eligible
2,Eligible,Eligible,Not Eligible,Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Eligible,Not Eligible
3,Not Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Not Eligible,Eligible,Not Eligible,Not Eligible
4,Eligible,Not Eligible,Eligible,Not Eligible,Not Eligible,Eligible,Not Eligible,Not Eligible,Eligible,Not Eligible,Not Eligible,Not Eligible

In [ ]:
store_sales.columns

Index(['store_id', 'city', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      dtype='object')

In [ ]:
store_sales.groupby("city").agg("mean")

,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
city,,,,,,,,,,,,
Arizona,15.500000,15.272727,14.545455,14.954545,14.090909,15.090909,14.636364,15.500000,15.318182,14.954545,16.409091,13.318182
California,14.744186,15.534884,14.627907,13.976744,13.255814,13.697674,14.813953,16.232558,14.883721,14.279070,15.279070,13.604651
Texas,13.457143,14.428571,14.485714,15.057143,13.600000,13.114286,13.685714,15.485714,14.685714,13.342857,14.657143,13.685714

### TASKS

1) Find mean quarterly sales by store

2) Find the month with highest sales for each store

## Other/Miscellaneous topics

### Missing value treatment

In [ ]:
df.isnull().sum()

NameError: ignored

In [ ]:
## Count missing values
df.isnull().sum()

NameError: ignored

In [ ]:
# Fill NA with most common values
df["PURPOSE*"].value_counts()

In [ ]:
df = df.fillna({"PURPOSE*":"Meeting"})

In [ ]:
df["PURPOSE*"].value_counts()

NameError: ignored

### Matrix operations use case

### Example 1 - compute month on month growth in sales

In [ ]:
store_sales.head()

NameError: ignored

In [ ]:
sales_mat = np.array(store_sales.iloc[:,2:])

NameError: ignored

In [ ]:
sales_mat

In [ ]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag

In [ ]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag = np.c_[sales_mat_lag,np.zeros(100)]

In [ ]:
sales_diff = sales_mat_lag - sales_mat

In [ ]:
perct_change = pd.DataFrame(sales_diff/sales_mat)

In [ ]:
perct_change.head()

### Example 1 - compute net revenue

In [ ]:
profit_mat = np.random.uniform(low=0.05, high=0.25, size=(100,12))

In [ ]:
## Find total annual profit for each store
profit_mat = profit_mat.transpose()

In [ ]:
profit_mat.shape

In [ ]:
prof_matrix = np.dot(sales_mat,profit_mat)

In [ ]:
prof_matrix.shape

In [ ]:
## OTHER TOPICS

In [ ]:

import pandas as pd
import numpy as np

# Create a sample DataFrame with some missing values
data = {'A': [1, 2, np.nan], 'B': [4, np.nan, 6], 'C': [np.nan, 8, 9]}
df1 = pd.DataFrame(data)

# Calculate the number of missing values in each column
missing_values = df1.isnull().sum()

# Calculate the percentage of missing values in each column
percent_missing = df1.isnull().mean() * 100

# Create a DataFrame to display the results
null_columns = pd.DataFrame({'columns': df1.columns}).assign(
    **{'No. Null Values': missing_values,
       'Percentage Null Values': percent_missing})

# Print the results
print(null_columns)

In [ ]:
class Employee:
    def __init__(self, first_name, last_name, salary):
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary

class Company:
    def __init__(self):
        self.employees = []

    def add_employee(self, new_employee):
        self.employees.append(new_employee)

def main():
    my_company = Company()
    employee1 = Employee('Sarah', 'Hess', 50000)
    my_company.add_employee(employee1)
    employee2 = Employee('Lee', 'Smith', 25000)
    my_company.add_employee(employee2)
    employee3 = Employee('Bob', 'Brown', 60000)
    my_company.add_employee(employee3)

    for employee in my_company.employees:
        print(f'Employee: {employee.first_name} {employee.last_name}, Salary: {employee.salary}')

if __name__ == '__main__':
    main()

In [1]:
class Employee:
    def __init__(self, first_name, last_name, salary, weekly_hours, hourly_rate, sales_num, com_rate):
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary
        self.weekly_hours = weekly_hours
        self.hourly_rate = hourly_rate
        self.sales_num = sales_num
        self.com_rate = com_rate
class Company:
    def __init__(self):
        self.employees = []
    def add_employee(self, new_employee):
        self.employees.append(new_employee)
def main():
    my_company = Company()
    employee1 = Employee('Sarah', 'Hess', 50000, 40, 25, 100000, 0.10)
    my_company.add_employee(employee1)
    employee2 = Employee('Lee', 'Smith', 25000, 40, 30, 100000, 0.05)
    my_company.add_employee(employee2)
    employee3 = Employee('Bob', 'Brown', 60000, 40, 25, 130000, 0.08)
    my_company.add_employee(employee3)
    for employee in my_company.employees:
        print(f'Employee: {employee.first_name} {employee.last_name}, Salary: {employee.salary}, Weekly Hours: {employee.weekly_hours}, Hourly Rate: {employee.hourly_rate}, Sales: {employee.sales_num}, Commission Rate: {employee.com_rate}')
if __name__ == '__main__':
    main()

Employee: Sarah Hess, Salary: 50000, Weekly Hours: 40, Hourly Rate: 25, Sales: 100000, Commission Rate: 0.1
Employee: Lee Smith, Salary: 25000, Weekly Hours: 40, Hourly Rate: 30, Sales: 100000, Commission Rate: 0.05
Employee: Bob Brown, Salary: 60000, Weekly Hours: 40, Hourly Rate: 25, Sales: 130000, Commission Rate: 0.08