In [ ]:
#Arithmetic Operators
num1=10
num2=20
print ('num1+num2=', num1+num2 )
print ('num1-num2=', num1-num2 )
print ('num1*num2=', num1*num2 )
print('Exponential=', 5**3)
print('20%3_ remainder of the division left operand by the right=', 20%3)
print ('flow division=', 22//7)
print ('flow division=', 3.8//2)

num1+num2= 30
num1-num2= -10
num1*num2= 200
Exponential= 125
20%3_ remainder of the division left operand by the right= 2
flow division= 3
flow division= 1.0

In [ ]:
#assignment operator
num3=num1+num2
print(num3)
num3+=num2
print(num3)

30
50

In [ ]:
#comparison operator
print('is num3>num2?',  num3>num2)
print('is num3<num2?',  num3<num2)
print('is num1 != num2?',  num1>num2)

is num3>num2? True
is num3<num2? False
is num1 != num2? False

In [ ]:
#Logical Operator
x=True #equivalent to 1
y=False #equivalent to 0

print('X and y=', x and y) # it will give the last value
print ("x or y=", x or y) #it will give the first value
print('not of x=', not x)

X and y= False
x or y= True
not of x= False

In [ ]:
a=5
b=3

print (b and a)
print (a and b)

print(a or b)
print(b or a)



today= 'wednesday'
yoga_day='thursday'

print(today is yoga_day)
print(today is not yoga_day)

5
3
5
3
False
True

In [ ]:
#Bitwise Operators
num4=6 #110
num5=2 #010

#a|b- perform OR operation on each bit of the number
print('bitwise and=', num4 & num5)

#a&b- perform AND operation on each bit of the number
print('bitwise or=', num4|num5)

#a^b= perform XOR operation on each bit of the number
print('bitwise xor=', num4 ^ num5)

bitwise and= 2
bitwise or= 6
bitwise xor= 4

In [ ]:
#Membership list
#IN- true if it finds elements in the specified sequence
#NOT IN- true if it does not find elements in the specified sequence
x=[1,2,3,4,5]

print(3 in x)
print(3 not in x)



#membership operators

list=(1,2,3.15, 'edureka')
print('edureka'in list)
print('edureka' not in list)

True
False
True
False

In [ ]:
string1='python'
string2='tutorial'
string3='machine'

#concatenation is like   
#'python' + 'tutorial '= 'python tutorial
print(string1+string2)

#Repetition is like  
#'edureka'*2= 'edurekaedureka
print(string2*3)

#slicing is like 
#string1='edureka   string1[2:7]    'ureka'
print (string2[3:6])
print(string2[:3])
print(string2[:-3])
print(string2[3])
print(string2[-3])
print(string2[2:-3])

#indexing
#string1=edureka    string1[-1]+string[1]    'ad'

pythontutorial
tutorialtutorialtutorial
ori
tut
tutor
o
i
tor

In [ ]:
str1='Welcome'
str2='To'
str3='Machine Learning Program'

print(str1)
print(str2)
print(str3)

string='Python'
print(string)
print(len(string))
print(string[1:3])
print('t' in string)
print('z' in string)

Welcome
To
Machine Learning Program
Python
6
yt
True
False

In [ ]:
str='edureka'
print(str.capitalize()) #capitalizes first letter of string
print(str.count('ka',0,len(str))) # counts how many times string occurs in string
s=str.encode('utf-8', 'strict')
print(s)

Edureka
1
b'edureka'

In [ ]:
name="Annie"
age= 22
print("My name is %s and my age is %d"%(name, age))

My name is Annie and my age is 22

In [ ]:
list=["Hadoop", "Python", "Android"]
print(list[1])
print(list[0:2])
print(list[-1])
print(list[-2])
print(list[-3])

Python
['Hadoop', 'Python']
Android
Python
Hadoop

In [ ]:
list2=["Hadoop", "Python", "Android"]
print(list2+["react",'angular','data science']) # detects the main list and add the other data
print(sorted(list2)) #it sorts the list from a to z
print(sorted(list2+["react",'angular','data science']))

print('\n',list2[::-1]) # it reverses the list2

print(list2*3)

list2[1]="java"
print(list2)

del(list2[2])
print(list2)

['Hadoop', 'Python', 'Android', 'react', 'angular', 'data science']
['Android', 'Hadoop', 'Python']
['Android', 'Hadoop', 'Python', 'angular', 'data science', 'react']

 ['Android', 'Python', 'Hadoop']
['Hadoop', 'Python', 'Android', 'Hadoop', 'Python', 'Android', 'Hadoop', 'Python', 'Android']
['Hadoop', 'java', 'Android']
['Hadoop', 'java']

In [ ]:
#this is a tupple inside the list
list=[(1,2,3), ('python','java','spark','azure')]
print (list)
print(len(list))
print(list[1][0:1]) # in the second index print the first word
print(list[1][0:2]) # in the second index print the first word and second word
print(list[1][1:2]) # in the second index print the second word

[(1, 2, 3), ('python', 'java', 'spark', 'azure')]
2
('python',)
('python', 'java')
('java',)

In [ ]:
list=[1,2,3]
list.append("machine learning")
print(list)

list.extend(['g','h'])
print(list)

list.insert(1,'Scripting')
print(list,'\n')

[1, 2, 3, 'machine learning']
[1, 2, 3, 'machine learning', 'g', 'h']
[1, 'Scripting', 2, 3, 'machine learning', 'g', 'h']

In [ ]:
list=[1,2,3,4,5,'a','b','c']
print(list.pop(3))# pop will give you the item that it removed
print(list[3]) #the 3rd index which is number 4 has been remove and thats why the new index 3rd index is now 5
print(list,'\n') #printing the new list withou the number 4

list.remove('a') #you indicate which specific number you want to remove. 
                  #remove is more or less used when you are done with that item 
                  #or if you dont want it to be in the list anymore
print(list)

4
5
[1, 2, 3, 5, 'a', 'b', 'c']

[1, 2, 3, 5, 'b', 'c']

In [ ]:
list3=[1,2,5,'python','hadoop']
print(type(list3)) #returns the type of data

print([x**2 for x in [1,2,3,4,5]]) # loop can be use in print statement for showing square of lists

<class 'list'>
[1, 4, 9, 16, 25]

In [ ]:
#type of specific method
print(string1.count('P,0,5'))
print(string1.find('on')) 
print(string1.isalpha))

0
4

In [ ]:
#tuple examples
#note all tuples are defined using braces during the first data and
# defined square braces when printing a specific row or column or range
# you cannot update a tuple if tuple is already been defined

my_tup=('Neel','Raj','Sandeep','Divya')

#concatenation
print(my_tup+('jay','sanjay')) #note that this only adds the names during printing and not on the original tuple"""

#repitition
print(my_tup*3)

#slicing
#make sure you are using square braces instead of parenthesis
print(my_tup[2:5]) #this only prints the third variable until the maximum number in the tuple

#indexing
print(my_tup[0])

('Neel', 'Raj', 'Sandeep', 'Divya', 'jay', 'sanjay')
('Neel', 'Raj', 'Sandeep', 'Divya', 'Neel', 'Raj', 'Sandeep', 'Divya', 'Neel', 'Raj', 'Sandeep', 'Divya')
('Sandeep', 'Divya')
Neel

In [ ]:
tup=([1,2,3], [4,5,6], [7,9,10])
print(tup)
print(len(tup))
print(tup[0][0:2])

([1, 2, 3], [4, 5, 6], [7, 9, 10])
3
[1, 2]

In [1]:
#example of tuple that cannot be change

list=[1,2,'python','android']
print(list)

list[2]='Data Science'
print(list)

tup=(1,2,3,'Data Science')
print(tup)

tup[1]='Python' #You cannot redefine the value in the second index which value is 2
print(tup)

[1, 2, 'python', 'android']
[1, 2, 'Data Science', 'android']
(1, 2, 3, 'Data Science')

TypeError: ignored

In [ ]:
#slicing a tupple
tup= ([1, 2, 3], [4, 5, 6], [7, 9, 10])
print(tup)
print(len(tup))
print(tup[0][0:2]) #slicing

([1, 2, 3], [4, 5, 6], [7, 9, 10])
3
[1, 2]

In [ ]:
#updating the list in tupple and not the tuple itself
# note the tuple element cannot be change but the what is inside the tuple element is mutable or can be changed
tup=([1, 2, 3], [4, 5, 6], [7, 9, 10])
print(tup)

print(len(tup))
print(tup[0][1])

#updating tuple 
tup[0][1]=90  # as we are using lists inside a tuple, the overall tuple becomes mutable
print(tup)

#deleting element in tuple
del(tup[1][2])
print(tup)

([1, 2, 3], [4, 5, 6], [7, 9, 10])
3
2
([1, 90, 3], [4, 5, 6], [7, 9, 10])
([1, 90, 3], [4, 5], [7, 9, 10])

In [ ]:
#converting TUPLE into LIST, updating contents of list and agin converting LIST into TUPLE

tuple1=(1,2,3,5,7,'a','b')
1st=list(tuple1)
print(1st)

1st[1]='python'
print(lst)

tuple2=tupl(st)
print(tuple2)

(1, 2, 3, 5, 7, 'a', 'b')

TypeError: ignored

In [ ]:
tup= ([1, 2, 3], [4, 5, 6], [7, 9, 10])
print(tup)
for item in tup:
  print(tuple(item))
  print(item)

([1, 2, 3], [4, 5, 6], [7, 9, 10])
(1, 2, 3)
[1, 2, 3]
(4, 5, 6)
[4, 5, 6]
(7, 9, 10)
[7, 9, 10]

In [ ]:
#list examples
#note all tuples and list are defined using square braces

my_list=['green','red','blue','yellow','pink']

#append
my_list.append('grey')
print(my_list)

#extend
my_list.extend(['violet','black'])
print(my_list)

['green', 'red', 'blue', 'yellow', 'pink', 'grey']
['green', 'red', 'blue', 'yellow', 'pink', 'grey', 'violet', 'black']

In [ ]:
#dictionary methods
#be sure to use curly braces

my_dicto={1:'green', 2:'blue', 3:'red', 2:'grey',4:'violet'} # if repeatedly defined then it will take the latest value
print(my_dicto)

print(my_dicto[3])
print( len(my_dicto)) #how many key values is present in your dictionary
print(my_dicto.keys())
print(my_dicto.values())

my_dicto.update({5:'white'})
print(my_dicto)

In [ ]:
#dictionary methods
#be sure to use curly braces

my_set={2,4,2,5,1,10,20,1,5} 
#there will be syntax error if two commas are placed
print(my_set) # note that duplicated numbers are not printed


s1={1,2,6,8,9} # when you add letters inside the set, it will show error after printing 
s2={2,4,9}

print('union=',s1|s2)
print('Intersection=', s1&s2) #be sure that equal sign are inside the apostrophe to avoid error
print('Difference=', s1-s2)

In [ ]:
#flow control methods or conditional statements

marks=75

if (marks>90) and (marks<=99):
  print("Grade A+")            #always make sure you indent the print everytime you do if , elif , and else
                               #otherwise it will show error

elif (marks>80) and (marks<=90):
  print('Grade A')

elif (marks>60) and (marks<=80):
  print('Grade B')

elif (marks>40) and (marks<=60):
  print("Grade C")

else:
  print("Grade D")

Grade B

In [ ]:
#flow control methods or conditional statements
#if else statement

a=int(input('enter a number='))
if (a<=10):
  print('less than 10')

if (10<=a<=25):
  print('In between 10 and 25')

else:
  print("Greater than 25")

enter a number=10
less than 10
In between 10 and 25

In [ ]:
#while loop

count=0

while(count<5):  
  count=count+1
  print(count)

print("good bye!")

rank=5
while(rank!=12):
  rank+=1
  print('rank is=',rank)

1
2
3
4
5
good bye!
rank is= 6
rank is= 7
rank is= 8
rank is= 9
rank is= 10
rank is= 11
rank is= 12

In [ ]:
a=int(input('Guess which number is the winning number, from 1 to 20='))

if (a<=10):
  print('Number is too small')

elif(a==15):
  print('Number is too large')

elif(a==13):
  print('Congratulations, You made it')

else:
  print('try again')

Guess which number is the winning number, from 1 to 20=13
Congratulations, You made it

In [ ]:
# Nested Loops
# it means a loop inside a loop. It can be a FOR LOOP inside a WHILE LOOP and vice versa.
#it can also be a WHILE LOOP inside a WHILE LOOP or FOR LOOP inside a FOR LOOP

count=1
for i in range (10):
  print(str(i)*i)

  for j in range (0,i):
    count=count+1

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
#Loop statements is use when you have to do repeat actions

#while-> repeat things until the loop condition is true
#    -> to be use when you dont know how many loops you have to do 

#for-> repeat things till the given number of times
#    -> to be use when you know how many loops you have to do 
"-----------------------------------------------------------------"
#problem statement
#store a variable if sum is greater than zero, so you need to check the value first if it is equal to zero

w1=int(input('Enter a value of n=')) 
#when you are taking an input to the user then it is considered as a string which is int()

if (w1<=0):
  print("enter a valid value")

else:
  sum=0

while(w1>0):
  sum+=w1 # adds the old and new value
  w1-=1 #increment the value of w1 by 1 and repeat the loop

print(sum)

Enter a value of n=2
3

In [ ]:
#For loop
#Iterating sequence could be a list, tuple, range of numbers
#It automatically increments by 1 every time it satisfies the first

for quant in range(10,0,-1): # starts at 10 and ends to 0 , increments 1 everytime
  
  if quant>1:
    print(quant,"Dragon on the sky,", quant,"Dragons On the Loose")

    if quant>2:
      suffix= str(quant)+"Dragons on the sky_kill it out"
      #this is storing your curent  value then concatenating a statement

    else:
      suffix='1 Dragon on the loose'   

  elif quant==1:
    print("1 Dragon on the wall, Kill the last one")
    suffix="no more dragon on the sky"

print("take one down and rejoice", suffix)
print("---")

10 Dragon on the sky, 10 Dragons On the Loose
9 Dragon on the sky, 9 Dragons On the Loose
8 Dragon on the sky, 8 Dragons On the Loose
7 Dragon on the sky, 7 Dragons On the Loose
6 Dragon on the sky, 6 Dragons On the Loose
5 Dragon on the sky, 5 Dragons On the Loose
4 Dragon on the sky, 4 Dragons On the Loose
3 Dragon on the sky, 3 Dragons On the Loose
2 Dragon on the sky, 2 Dragons On the Loose
1 Dragon on the wall, Kill the last one
take one down and rejoice no more dragon on the sky
---

In [ ]:
#BREAK LOOP

count=0
while True:  #be sure to use capital letter when using True or False 
  print(count)
  count+=1 # it continously incrementing by 1
  if(count>10):
    break

In [ ]:
#continue loop
#The factors of 10 are:
# 1  Odd
# 2  Even
# 5  Odd
# 10  Even
for x in range(20):
  if (x%2)==0:# it takes out all divisible by that number and equivalent to zero and continue
    continue  
  print(x) #otherwise it prints

1
2
3
4
6
7
8
9
10

In [ ]:
for x in range(1,11):
  if (x==5):
    continue  
  print(x) #this will skip the 5

1
2
3
4
6
7
8
9
10

In [ ]:
for x in range(1,11):
  print(x) #prints everything
  if (x==5):
    continue

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(1,11):

  if (x==5):
    break  
  print(x) #prints everything

1
2
3
4

In [ ]:
#FUNCTION

#def_ func_name(arg1,arg2,arg3...):
# statements
# return[expression]

def fibo(m):
  a=0
  b=1
  for x in range(m): #incrementing the for loop with N number of times
    a=b
    b=a+b
    print(a,'\n') # with new line character, it is like pressing enter
    return b # return the final value

num=int(input("enter the value of n:"))
print(fibo(num))

enter the value of n:50
1

2

In [ ]:
name=input("Enter your name=")
age=int(input('Enter your age='))

print('Welcome!!')
print(name, '\n')

print('Your age is')
print(age,'\n')

print("After 5 years, your age will be:", (int(age)+5))

In [ ]:
#FILE HANDLING AND I/O METHODS
# Always make sure to close the file after due to the lock mechanism of it.
#it means if you forgot to close it, it becomes hard for the application to open that file

# If you are not going to write the file then open it in READ ONLY MODE, not in WRITE MODE

In [ ]:
a = [5,10,15,20,25,30,35,40]

print("a[2] = ", a[2])

print("a[0:3] = ", a[0:3])

x='''This is a 
multiline'''
print("a= ", a[5:])
print(x)

a[2] =  15
a[0:3] =  [5, 10, 15]
a=  [30, 35, 40]
This is a
multiline

In [ ]:
x = 5
y = 10
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 5 and y is 10

In [ ]:
print('Hello {name}, {greeting}'.format(greeting = 'Goodmorning', name = 'John'))

Hello John, Goodmorning

In [ ]:
greeting = 'Goodmorning'
name = 'John'
print('Hello {1}, {0}'.format(greeting,name))

Hello John, Goodmorning

In [ ]:
x=input("What is your name=")
y=input("Type your address=")

print("Hello {}, are you from {}".format(x,y) )

In [ ]:
num = input('Enter a number: ')

Enter a number: 10

In [ ]:
import math
print(math.pi)

3.141592653589793